.container {
  max-width: 700px;
  width: 700px;
  margin: 0 auto;
  padding: 1rem;
  background-color: black;
  color: white;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}




