.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  background-color: #000;
  color: #fff;
}

.content {
  padding: 1rem;
}

.mainTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #222;
  margin-bottom: 0.5rem;
}

.mainTable thead th {
  padding: 0.5rem;
  text-align: center;
  background-color: #333;
  border: 1px solid #555;
}

.mainTable tbody td {
  padding: 0.5rem;
  border: 1px solid #555;
  text-align: left;
}

.officerTitle {
  width: 98px;
  text-align: center;
  background-color: #333;
  font-size: 1.2rem;
  font-weight: bold;
}

.officerIconCell {
  width: 64px;
  height: 64px;
  text-align: center;
  background-color: #222;
}

.officerName {
  width: 332px;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.labelCell {
  width: 98px;
  text-align: center;
  background-color: #333;
  font-weight: bold;
}

.rankList {
  padding: 0.5rem 1rem;
}

.headerCell {
  text-align: center;
  background-color: #333;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.regionHeader {
  height: 5px;
  background-color: #333;
  text-align: center;
  padding: 0.3rem;
}

.cityLevel {
  width: 78px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.cityName {
  width: 78px;
  text-align: right;
  padding-right: 0.5rem;
  font-size: 1.2em;
  font-weight: bold;
}

.officerCell {
  width: 278px;
  text-align: left;
  padding-left: 1rem;
}

.noteCell {
  background-color: #222;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
