.container {
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  background-color: black;
  color: white;
  min-height: 100vh;
}

.filterSection {
  padding: 1rem;
  border: 1px solid gray;
  margin-bottom: 1rem;
}

.filterForm {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.select {
  padding: 0.5rem;
  background-color: black;
  color: white;
  border: 1px solid gray;
}

.content {
  padding: 1rem;
}

.generalList {
  border: 1px solid gray;
  padding: 1rem;
}

.generalItem {
  padding: 0.5rem;
  border-bottom: 1px solid gray;
}




