.container {
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  background-color: black;
  color: white;
  min-height: 100vh;
}

.content {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.kingdomCard {
  border: 1px solid gray;
  padding: 1rem;
}

.kingdomName {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 1rem;
}

.kingdomInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  font-size: 0.9em;
}




