.hpBar {
  position: relative;
  width: 200px;
  height: 24px;
  background: #333;
  border: 2px solid #666;
  border-radius: 4px;
  overflow: hidden;
}

.hpBarFill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to bottom, #ff4444, #cc0000);
  transition: width 0.5s ease-out;
}

.hpText {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  text-shadow: 0 0 3px black;
  z-index: 1;
}
