/**
 * 게임 로그 커스텀 태그 스타일
 * CSS 변수 사용으로 테마 지원
 */

/* 크기 */
.log-small {
  font-size: 0.85em;
}

/* 색상 - CSS 변수 사용 */
.log-red {
  color: var(--log-red);
}

.log-blue {
  color: var(--log-blue);
}

.log-green {
  color: var(--log-green);
}

.log-yellow {
  color: var(--log-yellow);
}

.log-cyan {
  color: var(--log-cyan);
}

.log-magenta {
  color: var(--log-magenta);
}

.log-lime {
  color: var(--log-lime);
}

.log-skyblue {
  color: var(--log-skyblue);
}

.log-orange {
  color: var(--log-orange);
}

.log-white {
  color: var(--log-white);
}
