.cityCardBasic {
    display: grid;
    border-right: solid 1px gray;
    border-bottom: solid 1px gray;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    height: fit-content;
}

.cellText {
    text-align: center;
    line-height: 1.2em;
}

.cellTextOnly {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gPanel {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-top: solid 1px gray;
    border-left: solid 1px gray;
}

.gHead {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cityNamePanel,
.nationNamePanel {
font-weight: bold;
text-align: center;
border-top: solid 1px gray;
border-left: solid 1px gray;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.clickable:hover {
  opacity: 0.8;
}

.popPanel {
    grid-column: 1 / 3;
    grid-template-columns: 1fr 5fr;
}

@media (min-width: 1000px) {
    .cityCardBasic {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .cityNamePanel,
    .nationNamePanel {
        grid-column: 1 / 5;
    }

    .officer4Panel {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }

    .officer3Panel {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }

    .officer2Panel {
        grid-column: 4 / 5;
        grid-row: 5 / 6;
    }
}

@media (max-width: 500px) {
    .cityCardBasic {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cityNamePanel,
    .nationNamePanel {
        grid-column: 1 / 4;
    }
}
