.cityCardBasic {
    display: grid;
    border-right: solid 1px gray;
    border-bottom: solid 1px gray;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    height: fit-content;
    gap: 1px;
    padding: 4px;
}

.cellText {
    text-align: center;
    padding: 0.25rem;
}

.cellTextOnly {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
}

.gPanel {
    display: grid;
    grid-template-columns: 3fr 7fr;
    border-top: none;
    border-left: none;
    min-height: 24px;
}

.gHead {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    border-radius: 2px;
}

.gBody {
    border-radius: 2px;
}

.cityNamePanel,
.nationNamePanel {
    font-weight: bold;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    text-align: center;
    border-top: none;
    border-left: none;
    border-radius: 2px;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.clickable:hover {
  opacity: 0.8;
}

.popPanel {
    grid-column: 1 / 3;
    grid-template-columns: 3fr 17fr;
}

@media (min-width: 1000px) {
    .cityCardBasic {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .cityNamePanel,
    .nationNamePanel {
        grid-column: 1 / 5;
    }

    .officer4Panel {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }

    .officer3Panel {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }

    .officer2Panel {
        grid-column: 4 / 5;
        grid-row: 5 / 6;
    }
}

@media (max-width: 500px) {
    .cityCardBasic {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cityNamePanel,
    .nationNamePanel {
        grid-column: 1 / 4;
    }
}
