.generalCardBasic {
    display: grid;
    grid-template-columns: 64px repeat(3, 2fr 5fr);
    grid-template-rows: repeat(9, calc(64px / 3));
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.generalCardBasic > div.bg1,
.generalCardBasic > .generalCrewTypeIcon,
.generalCardBasic > .generalIcon {
    border-left: 1px solid gray;
}

.generalCardBasic > div {
    border-top: 1px solid gray;
}

.generalIcon {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 1 / 4;
}

.generalName {
grid-row: 1 / 2;
grid-column: 2 / 8;
font-weight: bold;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.clickable:hover {
  opacity: 0.8;
}

.generalCrewTypeIcon {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 4 / 7;
}

.generalExpLevelBar {
    grid-column: 3 / 6;
}

.generalDefenceTrain {
    grid-column: 2 / 4;
}

.generalTroop {
    grid-column: 2 / 4;
}

.generalRefreshScoreTotal {
    grid-column: 5 / 8;
}

.row {
    display: flex;
    flex-direction: row;
}

.gx0 {
    gap: 0;
}

.statValueCol {
    flex: 0 0 auto;
    min-width: 2.5rem;
    text-align: left;
    padding-right: 0.25rem;
}

.statBarCol {
    flex: 1;
    min-width: 0;
    padding-left: 0.25rem;
}

.col {
    flex: 1;
}

.alignSelfCenter {
    align-self: center;
}

.dGrid {
    display: grid;
}
