.worldMap {
    width: 100%;
    max-width: 700px;
    background: black;
    font-size: 14px;
    color: white;
    position: relative;
    box-sizing: border-box;
}

.mapTitle {
    width: 100%;
    max-width: 700px;
    height: 20px;
    text-align: center;
    box-sizing: border-box;
}

.mapTitleText {
    margin: auto;
    text-align: center;
    width: 160px;
    display: block;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
}

.mapBody {
    width: 100%;
    max-width: 700px;
    height: 550px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.mapBglayer1,
.mapBglayer2,
.mapBgroad {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    /* z-index 없음 - PHP 원본과 동일하게 DOM 순서 사용 */
}

/* 계절별 배경 이미지 - 전역 클래스 */
:global(.map_spring) .mapBglayer1 {
    background-image: url('/bg_spring.jpg');
    background-size: 700px 550px;
    background-repeat: no-repeat;
}

:global(.map_summer) .mapBglayer1 {
    background-image: url('/bg_summer.jpg');
    background-size: 700px 550px;
    background-repeat: no-repeat;
}

:global(.map_fall) .mapBglayer1 {
    background-image: url('/bg_fall.jpg');
    background-size: 700px 550px;
    background-repeat: no-repeat;
}

:global(.map_winter) .mapBglayer1 {
    background-image: url('/bg_winter.jpg');
    background-size: 700px 550px;
    background-repeat: no-repeat;
}

/* 도로 이미지 */
.mapBgroad {
    background-image: url('/che_road.png');
    background-size: 700px 550px;
    background-repeat: no-repeat;
    background-position: top left;
}

.mapButtonStack {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    z-index: 10;
}

.cityTooltip {
    position: absolute;
    z-index: 16;
    min-width: 120px;
    border: 0.02em gray solid;
    white-space: nowrap;
}

.cityName {
    background-color: rgb(30, 164, 255);
    z-index: 6;
    line-height: 15px;
    height: 15px;
}

.nationName {
    background-color: rgb(30, 164, 255);
    z-index: 6;
    line-height: 15px;
    height: 15px;
    border-top: 0.02em gray solid;
    text-align: right;
}
