.commandPad {
    background-color: black;
    border: 1px solid gray;
    padding: 0.5rem;
}

.header {
    background-color: #333;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.header h4 {
    margin: 0;
    color: white;
    font-size: 1rem;
}

.content {
    color: white;
    padding: 0.5rem;
}
