.sammoBar {
    position: relative;
    border-top: solid 1px var(--text-muted);
    border-bottom: solid 1px var(--game-grid-border);
    margin: auto;
}

.sammoBarBase {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--game-grid-border);
}

.sammoBarIn {
    position: absolute;
    left: 0;
    background-color: var(--game-positive);
}
