.container {
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  background-color: black;
  color: white;
  min-height: 100vh;
}

.content {
  padding: 1rem;
}

.diplomacyList {
  border: 1px solid gray;
  padding: 1rem;
}

.diplomacyItem {
  padding: 1rem;
  border-bottom: 1px solid gray;
}




