.container {
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  background-color: black;
  color: white;
  min-height: 100vh;
}

.content {
  padding: 1rem;
}

.filterSection {
  padding: 1rem;
  border: 1px solid gray;
  margin-bottom: 1rem;
  text-align: center;
}

.select {
  padding: 0.5rem;
  background-color: black;
  color: white;
  border: 1px solid gray;
  margin-left: 0.5rem;
}

.rankSection {
  border: 1px solid gray;
  padding: 1rem;
}


