.container {
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.joinCard {
  background-color: black;
  border: 1px solid gray;
  max-width: 450px;
  width: 100%;
  margin-top: 2rem;
}

.cardHeader {
  background-color: #333;
  padding: 1rem;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid gray;
}

.joinForm {
  padding: 1.5rem;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 0.5rem;
  background-color: black;
  color: white;
  border: 1px solid gray;
  font-size: 14px;
}

.submitButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #333;
  color: white;
  border: 1px solid #666;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1rem;
}

.submitButton:hover:not(:disabled) {
  background-color: #444;
}

.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

