.container {
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.title {
  margin: 2rem 0;
  font-size: 2rem;
}

.installCard {
  background-color: black;
  border: 1px solid gray;
  max-width: 600px;
  width: 100%;
  margin-top: 2rem;
}

.cardHeader {
  background-color: #333;
  padding: 1rem;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid gray;
}

.content {
  padding: 2rem;
  text-align: center;
}

.loading {
  padding: 2rem;
  text-align: center;
}

.button {
  padding: 0.75rem 1.5rem;
  background-color: #333;
  color: white;
  border: 1px solid #666;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1rem;
}

.button:hover {
  background-color: #444;
}


