@import '../page.module.css';

.timeControlForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formRow:nth-of-type(1) {
  border-left-color: rgba(52, 211, 153, 0.65);
}

.formRow:nth-of-type(2) {
  border-left-color: rgba(129, 140, 248, 0.65);
}

.formRow:nth-of-type(3),
.formRow:nth-of-type(4) {
  border-left-color: rgba(248, 113, 113, 0.6);
}

.metaText {
  font-size: 0.85rem;
  color: #94a3b8;
}

.lockState {
  font-size: 0.85rem;
  font-weight: 600;
}

.lockStateActive {
  color: #f87171;
}

.lockStateIdle {
  color: #34d399;
}
